@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="margin-top:25px">So you can add, delete and update</p>
<p style="margin-top:-15px">exams, students and professors.</p>
