@{
    ViewBag.Title = "Contact";
    if (Session["role"] == null)
    { Layout = "~/Views/Shared/HomeLayout.cshtml"; }
    else if(Session["role"].Equals("professor"))
    { Layout = "~/Views/Shared/ProfessorLayout.cshtml"; }
    else if(Session["role"].Equals("admin"))
    { Layout = "~/Views/Shared/AdminLayout.cshtml"; }
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    01117459860
</address>

<address>
    if you have a problem<br />
    <strong>Technical Support Mail: </strong>   <a href="mailto:youssef.m5557@gmail.com">youssef.m5557@gmail.com</a><br />
</address>