@{
    ViewBag.Title = "Home Page";
    if (Session["role"] == null)
    { Layout = "~/Views/Shared/HomeLayout.cshtml"; }
    else if(Session["role"].Equals("professor"))
    { Layout = "~/Views/Shared/ProfessorLayout.cshtml"; }
    else if(Session["role"].Equals("student"))
    { Layout = "~/Views/Shared/StudentLayout.cshtml"; }
    else if(Session["role"].Equals("admin"))
    { Layout = "~/Views/Shared/AdminLayout.cshtml"; }
}

    <section class="hero-banner">
        <div class="container">
            <div class="row no-gutters align-items-center pt-60px">
                <div class="col-5 d-sm-block" style="position: inherit">
                    <div class="hero-banner__img">
                        <img class="img-fluid" src="~/home.png" alt="Cart Image">
                    </div>
                </div>
                <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0" style="float:right; position: inherit">
                    <div class="hero-banner__content" style=" margin-top:35px">
                        <h4>Learning is fun</h4>
                        <h1 style="font-weight:bold;">Faculty of Computer & Aritificial Intelligence, Helwan University</h1>
                        <p style="margin-bottom:0px">Are you thinking to improve your skills in programming and development Websites, Android or IOS </p>
                        <p style="margin-bottom:0px">or doing something impressive like AI </p>
                        <p> but don't know how to do that?</p>
                        <p>So you are in the right place and always the right time..</p>
                        <a class="btn btn-outline-info" href="@Url.Action("listCourses","Home")">Show Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </section>