@model Software2_project.Models.ProfessorModel
@{
    ViewBag.Title = "LoggedIn";
    Layout = "~/Views/Shared/ProfessorLayout.cshtml";
}

<h2>Welcome <span style="font-weight:bold">@Model.name</span></h2>
<p>Have a nice day :)</p>

